<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
   
    <title>Document</title>
</head>
<body>
    <div class="main-content">
         {{>header}}
         <form>
             <input type="text" placeholder="Enter The Location">
             <button>Search</button>
         </form>
         <p id="currentTemp"></p>
         <p id="summary"></p>
         <p id="location"></p>
    </div>
   
    
    {{>footer}}
    
     <script src="/js/file.js"></script>
</body>
</html>